/* ==================Media Query================= */

@media only screen and (max-width: 678px) {
  .unified {
    width: 90%;
  }
  .unified_navbar {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  .unified_blog_wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .weekly_newsletter {
    display: flex;
    flex-direction: column;
  }
  .middle_articles {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.75rem;
    align-items: flex-start;
  }
}
